{:providers
 {:groq        {:url    "https://api.groq.com/openai/v1/chat/completions"
                :models {:deepseek-r1
                         {:model-name "deepseek-r1-distill-llama-70b"
                          :post-process allem.core/remove-think}}}
  :anthropic   {:url "https://api.anthropic.com/v1/messages"
                :models {:claude-3.5-sonnet
                         {:model-name "claude-3-5-sonnet-20241022"
                          :body-params {:max_tokens 8192}}
                         :claude-3.7-sonnet
                         {:model-name "claude-3-7-sonnet-20250219"
                          :body-params {:max_tokens 64000}}
                         :claude-opus-4.1
                         {:model-name "claude-opus-4-1-20250805"
                          :body-params {:max_tokens 32000}}
                         :claude-sonnet-4
                         {:model-name "claude-sonnet-4-20250514"
                          :body-params {:max_tokens 64000}}}}
  :together-ai {:url "https://api.together.xyz/v1/chat/completions"
                :models     {:deepseek-v3
                             {:model-name "deepseek-ai/DeepSeek-V3"}}}
  :openai {:url "https://api.openai.com/v1/chat/completions"}
  :gemini {:use-latest? true}
  :ollama {:url "http://localhost:11434/v1/chat/completions"
           :models {:qwen3-8b
                    {:model-name "qwen3:8b"}}}

  :xai {:url "https://api.x.ai/v1/chat/completions"}
  :mistral {:url "https://api.mistral.ai/v1/chat/completions"
            :models {:mistral-small
                     {:model-name "mistral-small-latest"}}}
  :deepseek {:url "https://api.deepseek.com/chat/completions"
             :models {:deepseek-v3
                      {:model-name "deepseek-chat"}
                      :deepseek-r1
                      {:model-name "deepseek-reasoner"}}}}
 :models {:deepseek-v3         [:together-ai
                                :deepseek]
          :deepseek-r1          [:groq
                                 :deepseek]
          :claude-3.5-sonnet [:anthropic]
          :claude-3.7-sonnet [:anthropic]
          :claude-opus-4.1 [:anthropic]
          :claude-sonnet-4 [:anthropic]
          :gpt-4o [:openai]
          :gpt-4.1 [:openai]
          :o1-mini [:openai]
          :o3-mini [:openai]
          :o4-mini [:openai]
          :gpt-4.5-preview [:openai]
          :gpt-5 [:openai]
          :gemini-2.5-flash [:gemini]
          :gemini-2.5-flash-lite [:gemini]
          :gemini-2.5-pro [:gemini]
          :mistral-small [:mistral]
          :grok-3 [:xai]
          :grok-4 [:xai]
          :grok-4-fast-reasoning [:xai]
          :grok-4-fast-non-reasoning [:xai]
          :qwen3-8b [:ollama]}}
